.home__footer {
    font-family: defaultFont;
    background-color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 0;
}

.home__footer-return {
    border-bottom: 1px solid white;
    height: 50px;
    width: 100%;
    padding-top: 10px;
    text-align: center;
}

.home__footer-content-wrapper {
    max-width: 900px;
    text-align: center;
}


.home__footer button {
    border: none;
    background: transparent;
    color: white;
    font-size: 14px;
}

.home__footer p {
    padding-top: 10px;
    color: white;
    font-size: 12px;
    text-align: left;
    max-width: 400px;
}